@tailwind base;
@tailwind components;
@tailwind utilities; 
 
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;1,300&family=Lato:ital,wght@1,300&display=swap');

:root{  
    --primary-blue:#00d8ff ; 
    --primary-purple:#6a00ff;  
    ----primary-purple:#6a00ff;

}
@layer base{  
    /* *{ 
        @apply font-[kanit]
    } */ 
    :hh{ 
        @apply text-3xl font-bold text-purple-500
    }
    h1{ 
        @apply text-3xl font-bold text-white  

    } 
    li{ 
        @apply p-4 text-white  
    } 
    button{ 
        /* @apply bg-gradient-to-r from-[var(--primary-purple)] to-[var(--primary-blue)] py-3 px-7 rounded-3xl */
        /* @apply text-white border bg-indigo-600 border-indigo-600 py-3 px-7
        hover:bg-transparent hover:text-indigo-600 rounded-md */
    }
        
 
}